<!--
  Generated template for the TurfDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    
  <ion-navbar >
    
    <ion-title>Turf-Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--  <div class="item-profile" text-center #image [style.background-image]="'url(' + image+ ')'"  style="min-height:100px" *ngIf="image">
      </div>-->
      
      <ion-card>
      <ion-card-header>{{turf.Name}}</ion-card-header>
     <ion-img style="width: 100%;max-width:100%; height: 100px;max-height:100px" [src]="image"></ion-img>
      <div class="item-detail" padding>
        <h2>{{turf.Contact}}</h2>
        <p>{{turf.Location}}</p>
      </div>

      <div *ngFor="let g of groundList">
          <ion-chip #chip2>
              <ion-icon name="football" color="light"></ion-icon>
              <button style="width:3cm" ion-button round color="light" (click)="openPage(g.Id)">{{g.Number}}
                
              </button>
              <ion-icon name="arrow-dropright-circle" color="light" ></ion-icon>
            </ion-chip>
         
          
      </div>
    </ion-card>
</ion-content>

